archive/WS/WS/WebContent/wsdl/RiskAssessment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://transform.ws.ou.edj" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://transform.ws.ou.edj" xmlns:intf="http://transform.ws.ou.edj" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://transform.ws.ou.edj" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="check">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:string"/>
      <element name="amount" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkResponse">
    <complexType>
     <sequence>
      <element name="checkReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkRequest">

      <wsdl:part element="impl:check" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkResponse">

      <wsdl:part element="impl:checkResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RiskAssessment">

      <wsdl:operation name="check">

         <wsdl:input message="impl:checkRequest" name="checkRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkResponse" name="checkResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RiskAssessmentSoapBinding" type="impl:RiskAssessment">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="check">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RiskAssessmentService">

      <wsdl:port binding="impl:RiskAssessmentSoapBinding" name="RiskAssessment">

         <wsdlsoap:address location="http://localhost:9080/WS/services/RiskAssessment"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
