archive/WS/TestWS/WebContent/wsdl/TestWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://testws.service.ou" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://testws.service.ou" xmlns:intf="http://testws.service.ou" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://testws.service.ou" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="incValue">
    <complexType>
     <sequence>
      <element name="i" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="incValueResponse">
    <complexType>
     <sequence>
      <element name="incValueReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="incValueRequest">

      <wsdl:part element="impl:incValue" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="incValueResponse">

      <wsdl:part element="impl:incValueResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestWS">

      <wsdl:operation name="incValue">

         <wsdl:input message="impl:incValueRequest" name="incValueRequest">

       </wsdl:input>

         <wsdl:output message="impl:incValueResponse" name="incValueResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestWSSoapBinding" type="impl:TestWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="incValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="incValueRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="incValueResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestWSService">

      <wsdl:port binding="impl:TestWSSoapBinding" name="TestWS">

         <wsdlsoap:address location="http://localhost:9080/TestWS/services/TestWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
