archive/ODE/InvokeIncrement/bpelContent/Increment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://transform.ws.ou.edj" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://transform.ws.ou.edj" xmlns:intf="http://transform.ws.ou.edj" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://transform.ws.ou.edj" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="incr">
    <complexType>
     <sequence>
      <element name="i" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="incrResponse">
    <complexType>
     <sequence>
      <element name="incrReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="incrResponse">

      <wsdl:part element="impl:incrResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="incrRequest">

      <wsdl:part element="impl:incr" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Increment">

      <wsdl:operation name="incr">

         <wsdl:input message="impl:incrRequest" name="incrRequest">

       </wsdl:input>

         <wsdl:output message="impl:incrResponse" name="incrResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IncrementSoapBinding" type="impl:Increment">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="incr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="incrRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="incrResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IncrementService">

      <wsdl:port binding="impl:IncrementSoapBinding" name="Increment">

         <wsdlsoap:address location="http://localhost:9080/WS/services/Increment"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
